body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #e6e9f0, #cad3e1); /* Soft gradient */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333; /* Darker text color for better contrast */
}

.container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0.67em 0;
}

p {
    margin: 1em 0;
}

footer {
    margin-top: 20px;
    font-size: 0.75em;
}
